<div class="sidebar-products">
    <div class="products-header">
        <h4>探索更多</h4>
    </div>
    <div class="product-list">
        <a class="product-item" href="https://podcast.aisheishei.me">
            <img width="150" src="/statics/images/podcasts.jpg" alt="Podcast">
        </a>
        <a class="product-item" href="https://nextjs-mui-learn.vercel.app/">
            <img width="150" src="/statics/images/community.jpg" alt="Community">
        </a>
    </div>
</div>